---
# 메인 스타일시트
---
// 뷰포트 브레이크포인트
$window-view-small:   600px;
$window-view-medium:  960px;
$window-view-large:  1280px;
$window-view-xlarge: 1920px;

@function Vmin($var){@return "min-width: #{$var}";}
@function Vmax($var){@return "max-width: #{$var}";}
@mixin media-min($screen) {
  @if $screen == s {@media (Vmin($window-view-small)){@content;}}
  @else if $screen == m {@media (Vmin($window-view-medium)){@content;}}
  @else if $screen == l {@media (Vmin($window-view-large)){@content;}}
  @else if $screen == xl {@media (Vmin($window-view-xlarge)){@content;}}
  @else { @warn "using only [s, m, l, xl]"; }
}

// 그림자
.shadow {
  &-dp-1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                      0 1px 2px rgba(0,0,0,0.24);}
  &-dp-2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                      0 3px 6px rgba(0,0,0,0.23);}
  &-dp-3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19),
                      0 6px 6px rgba(0,0,0,0.23);}
  &-dp-4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                      0 10px 10px rgba(0,0,0,0.22);}
  &-dp-5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30),
                      0 15px 12px rgba(0,0,0,0.22);}
}

/*
███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██
*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700|Nanum+Gothic:400,700,800&subset=korean');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {font-family: 'Nanum Gothic', sans-serif;}
code {font-family: 'Nanum Gothic Coding', monospace;}
body, code {font-weight: 400;}
strong {font-weight: 700;}
h1, h2 {font-weight: 800;}

/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
// theme
$color-theme-primary: #3F51B5;
$color-element-primary: #FAFAFA;
$color-element-secondary: #FFFFFF;

// text
$color-dark-primary-text: rgba(0,0,0,.87);
$color-dark-secondary-text: rgba(0,0,0,.54);
$color-dark-hint-text: rgba(0,0,0,.38);
$color-dark-dividers-line: rgba(0,0,0,.12);
$color-light-primary-text: rgba(255,255,255,1);
$color-light-secondary-text: rgba(255,255,255,.7);
$color-light-hint-text: rgba(0,0,0,.5);
$color-light-dividers-line: rgba(255,255,255,.12);

// base color
body {
  background-color: $color-element-primary;
  color: $color-dark-primary-text;
}

/*
 ██████  ██████  ███    ███ ███    ███ ███████ ███    ██
██      ██    ██ ████  ████ ████  ████ ██      ████   ██
██      ██    ██ ██ ████ ██ ██ ████ ██ █████   ██ ██  ██
██      ██    ██ ██  ██  ██ ██  ██  ██ ██      ██  ██ ██
 ██████  ██████  ██      ██ ██      ██ ███████ ██   ████
*/
::-webkit-scrollbar {display: none;}
a {
  text-decoration: none;
  color: $color-theme-primary;
}
hr {
  border-color: $color-dark-dividers-line;
}
ul,
ol {
  counter-reset: list_count;
  list-style-type: none;
  padding: 0;
  padding-left: 1rem;
  @include media-min(s){padding-left: 2rem}
}
ul {background: url(arrow.gif) no-repeat 7px 7px transparent}
table {
  margin: .5rem 0;
  width: 100%;
  box-sizing: border-box;
  thead,
  tbody {
    border-bottom: $color-dark-dividers-line 3px solid;
    border-top: $color-dark-dividers-line 3px solid;
  }
}
code.highlighter-rouge {
  padding: 2px;
  border-radius: 5px;
  background-color: $color-dark-dividers-line;
}
div.highlighter-rouge,
figure.highlight {
  margin: 1rem .5rem;
  padding: .5rem;
  border-radius: .4rem;
  border: solid 2px $color-dark-dividers-line;
  background-color: $color-element-secondary;
}
div.highlighter-rouge pre {white-space: pre-wrap;}
code .lineno {
  user-select: none;
  text-align: right;
  font-weight: 700;
  padding-right: 3px;
  color: lighten($color-theme-primary, 0%);
}
.highlight {
  tr {
    background: repeating-linear-gradient(
      0deg,
      lighten($color-theme-primary, 45%),
      lighten($color-theme-primary, 45%) 1.4rem,
      lighten($color-theme-primary, 60%) 1.4rem,
      lighten($color-theme-primary, 60%) 2.8rem,
    );
  }
  td.code {
    padding-left: 5px;
    border-left: $color-dark-dividers-line 2px solid;
  }
  table {
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }
}
pre {margin: 0;}
dl {
  dt {
    margin-top: 1rem;
    font-weight: 700;
  }
  dt:first-child {margin-top: 0;}
  dd {
    margin: 0;
    margin-left: 0.7rem;
    font-size: 0.9em;
  }
}

.left {float: left;}
.right{float: right;}

/*
███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ███████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
*/
nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0.001;
  position: fixed;
  top: 0; bottom: 0; left: 0;
  z-index: 999;
  padding-top: 1rem;
  background-color: $color-element-primary;
  width: calc(100vw - 56px);
  @include media-min(s) {
    opacity: 1;
    width: 300px;
  }
  h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  h3 {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: $color-dark-secondary-text;
  }
  a {
    color: $color-dark-primary-text;
  }
}
#nav-open-btn,
#nav-top-btn {
  user-select: none;
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  .material-icons {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
#nav-open-btn {
  bottom: 1rem; left: .5rem;
  background-color: $color-theme-primary;
  .material-icons{color: $color-light-secondary-text;}
  @include media-min(m) {display: none;}
}
#nav-top-btn {
  display: none;
  bottom: 1rem; right: 1rem;
  background-color: $color-light-secondary-text;
  .material-icons{color: $color-theme-primary;}
}
#nav-overlay {
  opacity: 0.001;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
  @include media-min(m) {display: none;}
}
.btn.doc {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .7rem;
  border-radius: 2px;
  background-color: $color-theme-primary;
  color: $color-light-primary-text;
  margin: .5rem;
  padding: 0 .5rem;
  @include media-min(s) {
    height: 2rem;
    line-height: 2rem;
    font-size: inherit;
  }
  i.material-icons {
    vertical-align: middle;
    font-size: 1.3rem;
    line-height: 1.5rem;
    @include media-min(s) {
      line-height: 2rem;
      font-size: 1.5;
    }
  }
}

/*
███    ██  █████  ██    ██    ████████  ██████   ██████
████   ██ ██   ██ ██    ██       ██    ██    ██ ██
██ ██  ██ ███████ ██    ██ █████ ██    ██    ██ ██
██  ██ ██ ██   ██  ██  ██        ██    ██    ██ ██
██   ████ ██   ██   ████         ██     ██████   ██████
*/
#toc-wrap {
  flex: 1;
  counter-reset: chapter -1;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  @include media-min(s) {font-size: .9rem;}
  li {
    padding-left: .5rem;
    margin: .4rem 0;
    height: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    a {
      margin-right: .5rem;
      display: block;
      box-sizing: border-box;
    }
  }
  a:hover,
  a.active {
    padding-left: .5rem;
    border-radius: 2px;
    font-weight: 700;
    background-color: $color-theme-primary;
    color: $color-light-primary-text;
  }
  a:hover {
    background-color: lighten($color-theme-primary, 20%);
    color: $color-light-primary-text;
    font-weight: 700;
  }
  &>li {margin-left: 0;}
  &>li a:before {
    counter-increment: chapter;
    content: counter(chapter) "장 ";
  }
  &>li:first-child a:before {
    content: ""
  }
  &>li:last-child {
    margin-bottom: 3rem;
  }
  ol {
    counter-reset: sub;
    list-style-type: none;
    padding: 0;
    li {
      margin-left: .8rem;
    }
    li a:before {
      counter-increment: sub;
      content: counter(chapter) "." counter(sub) ". ";
    }
  }
}

/*
 █████  ██████  ████████ ██  ██████ ██      ███████
██   ██ ██   ██    ██    ██ ██      ██      ██
███████ ██████     ██    ██ ██      ██      █████
██   ██ ██   ██    ██    ██ ██      ██      ██
██   ██ ██   ██    ██    ██  ██████ ███████ ███████
*/
body {
  padding-left: 0;
  @include media-min(m) {padding-left: 300px;}
}
#article-wrap {
  max-height: 100vh;
}

#doc-title {
  max-width: 650px;
  margin: auto;
  border-bottom: $color-dark-dividers-line 2px solid;
  padding: .5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  @include media-min(s) {
    font-size: 2rem;
  }
}
#markdown-toc {
  counter-reset: toc_chapter;
  border: $color-dark-dividers-line 2px dotted;
  background: none;
  padding: .5rem;
  li>a:before {
    counter-increment: toc_chapter;
    content: counter(toc_chapter) ". ";
  }
}
#doc-wrap {
  counter-reset: doc_chapter;
  min-height: 100vh;
  max-width: 650px;
  padding: .5rem;
  margin: auto;
  font-size: .9rem;
  line-height: 1.4rem;
  @include media-min(s){
    font-size: 1rem;
    line-height: 1.5rem;
  }
  img {
    max-width: 100%;
    @for $i from 1 through 10 {
      &.X#{$i} { width: 10% * $i; }
    }
    &.center {margin: 0 auto; display: block;}
    &.left {float: left; display: block;}
  }
  h1 {
    margin-top: 2.5rem;
    font-size: 1.2rem;
    padding-bottom: .5rem;
    border-bottom: $color-dark-dividers-line 1px solid;
  }
  h1:first-child {}
  &>h1:before {
    counter-increment: doc_chapter;
    content: counter(doc_chapter) ". ";
  }
  ol>li {
    margin-bottom: .5rem;
    line-height: 1.4rem;
    vertical-align: middle;
    @include media-min(s){
      line-height: 1.5rem;
    }
    &:before {
      content: counter(list_count);
      counter-increment: list_count;
      color: $color-light-secondary-text;
      background-color: $color-theme-primary;
      font-size: .8rem;
      font-weight: 700;
      line-height: 1.4rem;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      margin-right: .5rem;
      border-radius: 40%;
      width: 1.4rem;
      height: 1.4rem;
      @include media-min(s){
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
  .footnotes {
    border-top: $color-dark-dividers-line 1px dotted;
    p {
      display: contents;
      font-size: .7rem;
      line-height: 1rem;
    }
    ol {margin: 0; padding: 0;}
    li {
      margin: .5rem 0;
      margin-left: 1.2rem;
      font-size: .9rem;
      color: $color-dark-secondary-text;
      line-height: 1rem;
      vertical-align: middle;
    }
    li:before {
      content: counter(list_count) ".";
      color: $color-theme-primary;
      background-color: transparent;
      margin-left: -1.5rem;
      margin-right: 0rem;
      line-height: 1rem;
    }
  }
}


/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
footer {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: lighten($color-theme-primary, 20%);
  .desc {
    flex: 1;
  }
  .copyright {
    background-color: $color-theme-primary;
    color: $color-light-primary-text;
    padding: .5rem;
    margin: 0;
  }
}
/*
███████  ██████ ██████        ██████   █████  ██████
██      ██      ██   ██       ██   ██ ██   ██ ██   ██
███████ ██      ██████  █████ ██████  ███████ ██████
     ██ ██      ██   ██       ██   ██ ██   ██ ██   ██
███████  ██████ ██   ██       ██████  ██   ██ ██   ██
*/
.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: $color-theme-primary;
}


/*
 ██████  ██████  ██ ██████
██       ██   ██ ██ ██   ██
██   ███ ██████  ██ ██   ██
██    ██ ██   ██ ██ ██   ██
 ██████  ██   ██ ██ ██████
*/
.row {
  display: block;
  overflow: hidden;
}
.col {
  padding: 0 .5rem;
  display: inline-block;
  margin-top: .5rem;
  float: left;
  box-sizing: border-box;
  @for $i from 1 through 12 { &.s#{$i} { width: ($i / 12) * 100%; }}
  @for $i from 1 through 12 { &.m#{$i} { @include media-min(s) {width: ($i / 12) * 100%;}}}
  @for $i from 1 through 12 { &.l#{$i} { @include media-min(m) {width: ($i / 12) * 100%;}}}
  @for $i from 1 through 12 { &.xl#{$i} { @include media-min(l) {width: ($i / 12) * 100%;}}}
}
